@-webkit-keyframes flash {
  0% {
    color: inherit;
  }
  45% {
    color: #008000;
  }
  55% {
    color: #008000;
  }
  100% {
    color: inherit;
  }
}
.input {
  font-size: 1em;
  border: none;
  padding: 0;
  margin: 0;
  resize: none;
  overflow: hidden;
  vertical-align: top;
  background: none;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}
.input:focus {
  outline: none;
}
.input.invalid {
  color: red !important;
}
.input::-webkit-input-placeholder {
  color: inherit;
}
.input:-moz-placeholder {
  color: inherit;
  opacity: 1;
}
.input::-moz-placeholder {
  color: inherit;
  opacity: 1;
}
.input:-ms-input-placeholder {
  color: inherit;
}
.select.multiple .option {
  display: block;
}
.select.multiple .option input {
  font-size: 1em;
  border: none;
  padding: 0;
  margin: 0;
  resize: none;
  overflow: hidden;
  vertical-align: top;
  background: none;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  min-width: 2em;
}
.select.multiple .option input:focus {
  outline: none;
}
.select.multiple .option input.invalid {
  color: red !important;
}
.select.multiple .option input::-webkit-input-placeholder {
  color: inherit;
}
.select.multiple .option input:-moz-placeholder {
  color: inherit;
  opacity: 1;
}
.select.multiple .option input::-moz-placeholder {
  color: inherit;
  opacity: 1;
}
.select.multiple .option input:-ms-input-placeholder {
  color: inherit;
}
.select.multiple .option:hover {
  color: #111;
  border-color: #e0e0e0;
}
.select.multiple .option.selected {
  color: #000000;
}
.select.multiple .option.selected:active {
  color: #bfbfbf;
}
.select.multiple .option:not(.selected) {
  color: #bfbfbf;
}
.select.multiple .option:not(.selected):active {
  color: #000000;
}
.results {
  margin: 0;
  padding: 0;
}
.mini-record {
  overflow: hidden;
}
.mini-record .image {
  width: 3em;
  height: 3em;
  float: left;
  margin-right: 0.5em;
}
.mini-record .name {
  display: inline-block;
  color: inherit;
  width: inherit !important;
}
.mini-record .type {
  display: block;
  opacity: 0.75;
  cursor: default;
}
